<!-- from https://bootsnipp.com/snippets/dldxB -->
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">
      <div class="jumbotron">
          <h2 class="display-1">Goodbye</h2>
        </div>
    <!-- Login Form -->
      <input type="submit" class="fadeIn fourth" value="Log Out" (click)=onSubmit()>
  </div>
</div>
</html>
